<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright (c) 2020 PagoFacil
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <pagofacilchile>
                <active>0</active>
                <title>PST Pago fácil SPA</title>
                <test>0</test>
                <order_status>pending_payment</order_status>
                <model>PagoFacil\PagoFacilChile\Model\PagoFacilChile</model>
                <payment_action>true</payment_action>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </pagofacilchile>
        </payment>
    </default>
</config>